Asteroid0      4      4
Asteroid1      4      4
Asteroid2      4      4
Asteroid3      4      4
Asteroid4      4      4
Asteroid5      4      4
Asteroid6      4      4
Asteroid7      4      4
Asteroid8      4      4
Asteroid9      4      4
Asteroid10     4      4
Asteroid11     4      4
Asteroid12     4      4
Asteroid13     4      4
Asteroid14     4      4
Asteroid15     4      4
Asteroid16     4      4
