; MissionMan script, sobota, paü 22 2005, 4:48:06 
; Copyright (c) 1998-99, Relic Entertainment Inc.
; Distribution Object: Resources

Resources    Nebula,-64,0,-12,0,952,0,Nebula,?,500,120000,0,1000,0,1000,0,159,0,?
Resources    Nebula,-5000,0,-1500,0,9000,0,Sphere,?,10,5000.0,?,0,0,30,0,0.0,?
MissionSphere    -1,?,ResourceSphere,0,0,0,0,0,0,30000.0,0,0,ResourceSphere_1.missphere,?

