; MissionMan script, Friday, Jun 7 2002, 12:06:38 PM
; Copyright (c) 1998-99, Relic Entertainment Inc.
; Distribution Object: BigRoid

Asteroid0    15
Asteroid1    1
Asteroid2    1
Asteroid3    1
Asteroid4    7
Asteroid5    3