; MissionMan script, Thursday, Dec 2 1999, 4:40:16 PM
; Copyright (c) 1998-99, Relic Entertainment Inc.
; Distribution Object: CenterResource_1

Asteroid0	130	3
Asteroid1	0	0
Asteroid2	0	0
Asteroid3	0	0
Asteroid4	0	0