; MissionMan script, piπtek, paü 21 2005, 4:22:16 
; Copyright (c) 1998-99, Relic Entertainment Inc.
; Distribution Object: New Object

Asteroid0    1
Nebula0    25
DustCloud0    4
HeadShotAsteroidR1    2
