; MissionMan script, Friday, Jun 7 2002, 12:06:30 PM
; Copyright (c) 1998-99, Relic Entertainment Inc.
; Distribution Object: Asteroid

Asteroid0    10
Asteroid1    2
Asteroid2    1
Asteroid3    7
Asteroid4    0
