; Relative frequencies of asteroid types
Nebula0    0    1
Nebula1    1    2
Nebula2    2    2
Nebula3    2    1
Nebula4    1    0
enzy2
; Info: Ladder Frenzy (2)

; Relative frequencies of asteroid types
Nebula0    0    1
Nebula1    1    2
Nebula2    2    2
Nebula3    2    1
Nebula4    1    0
